
            <div class="card-header card-header-success">
              <h5 class="card-title">Ingresar nueva categoría</h5>
            </div>
            <div class="card-body">
              <form class="form-group" [formGroup]="nuevoForm" (ngSubmit)="agregar(nuevoForm.value)">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-3">
                    <label class="h4">Categoría</label></div>
                  <div class="col-md-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ingrese nueva categoría"
                      formControlName="nombre_categoria"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-3">
                    <label class="h4">Imagen</label></div>
                  <div class="col-md-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ingrese nueva imagen"
                      formControlName="imagen_categoria"
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-success pull-right">
                  Agregar
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
  